<div id="main" role="main" class="vertical-center">
  <sa-layout-switcher></sa-layout-switcher>


        <!--sa-layout-switcher></sa-layout-switcher-->

        <div class="login-form-container">

            <div class="login-form">
                <div class="login-form-title">
                    <img src="/assets/img/ksh-logo-login@2x.png" style="widht:200px; height:60px;" />
                </div>
                <form class="smart-form client-form">
                    <fieldset>
                        <section>
                            <label class="label">아이디</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" [(ngModel)]="userid" name="userid">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                    이메일주소나 아이디를 입력해주세요.</b></label>
                        </section>
                        <section>
                            <label class="label">비밀번호</label>
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" [(ngModel)]="password" name="password">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 비밀번호를 입력해주세요</b> </label>
                        </section>
                        <section>
                            <div class="block-group">
                                <input type="checkbox" id="check-save" name="check-save" value="" style="display: inline-block;">
                                <label for="check-save">
                                    <span class="ui-checkbox"></span>
                                    <div class="label">&nbsp;&nbsp;로그인정보 저장</div>
                                </label>
                            </div>
                        </section>
                        <section>
                            <button (click)="login($event)" class="btn btn-primary login-btn">로그인</button>
                        </section>
                    </fieldset>
                </form>
            </div>
        </div>


        <!--div class="row" style="border:1px solid #f00;">
            <div class="col-sm-12 col-md-12 col-lg-3"></div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <h1 class="txt-color-blue login-header-big">기성 하이스트 MES 시스템</h1>

                <div class="well no-padding">
                    <form class="smart-form client-form">
                        <header>
                            Login
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">ID</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" [(ngModel)]="userid" name="userid">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Please enter email address/username</b></label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" [(ngModel)]="password" name="password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                            </section>

                        </fieldset>
                        <footer>
                            <button (click)="login($event)" class="btn btn-primary">Login</button>
                            <sa-language-selector (loginLanguage)="setLanguage($event)"></sa-language-selector>
                        </footer>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3"></div>
        </div-->
</div>
