<div sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
               [fullscreenbutton]="false" [custombutton]="false" [sortable]="false" >
  <header>
    <span class="widget-icon"> <i class="fa fa-check"></i> </span>
    <h2>진행중 공정</h2>
  </header>
  <!-- widget div-->
  <div>
    <div class="widget-body no-padding smart-form">
      <!-- content goes here -->
      <todo-list></todo-list>
      <!-- end content -->
    </div>

  </div>
  <!-- end widget div -->
</div>
