<span id="activity" class="activity-dropdown" (click)="onToggle()">
  <i class="fa fa-bell-o"></i>
  <b class="badge bg-color-red">{{count}}</b>
</span>

<div class="ajax-dropdown" #dropdown>
  <!--탭주석 :김동진-->
  <!-- <div class="btn-group btn-group-justified" data-toggle="buttons">
    <label [ngClass]="{
      'btn btn-default': true,
      active: activity==currentActivity
    }" *ngFor="let activity of activities"
           (click)="setActivity(activity)"
    >
      <input type="radio" name="activity"/>
      {{activity.title}} ({{activity.data.length}})
    </label>

  </div> -->

  <!-- notification content -->
   <div class="ajax-notifications custom-scroll">
      <ul class="notification-body" *ngIf="currentActivity" >
        <ng-template ngFor let-item [ngForOf]="currentActivity.data">

          <!-- <li activitiesMessage *ngIf="item.type == 'message'" [item]="item"></li>
          <li activitiesNotification *ngIf="item.type == 'notification'" [item]="item"></li>
          <li activitiesTask *ngIf="item.type == 'task'" [item]="item" [lastUpdate]="lastUpdate"></li> -->

          <!--위 탭을 주석을 건 관계로 위 세개도 주석, 그중 가운데꺼 하나를 선택해서 사용 : 김동진  -->
          <li activitiesNotification  [item]="item" (click)="AlarmRead(item)"></li>
        </ng-template>

      </ul>
    </div>
  <!-- end notification content -->

  <!-- footer: refresh area -->
    <span> Last updated on: {{lastUpdate | moment:"h:mm:ss a"}}
      <button type="button" (click)="update()"
              class="btn btn-xs btn-default">
          <i class="fa fa-refresh" *ngIf="!loading"></i>
          <i class="fa fa-refresh fa-spin" *ngIf="loading"></i>
          <span *ngIf="loading">loading...</span>
      </button>
    </span>
  <!-- end footer -->
</div>
