<div class="modal-dialog modal-lg">


  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="HideModal_Reg()">&times;</button>
      <h4 class="modal-title">{{'사용자 등록' | mlang: 'LABEL' : 'L000032' : '34'}}</h4>
    </div>

    <div class="modal-body">

              <form class="smart-form client-form" id="smart-form-register" novalidate="novalidate">
                <fieldset>
                  <!-- <section class="col col-2">
                    <div style="background: #eee; height: 125px;">
                        <img src="" width="130px" height="115px" style="margin-top: 5px; margin-left: 5px;" id="picture_r" alt="" />
                    </div>
                  </section> -->
                  <section class="col col-6">
                    <label class="label">{{'사용자ID' | mlang: 'LABEL' : 'L000010' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <input type="text" name="EMP_NO" [(ngModel)]="EMP_NO" [disabled]="isDisabled()" [style.background-color]="inputcolor" />
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="label">{{'Email' | mlang: 'LABEL' : 'L000018' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <input type="email" name="EMAIL_ADDR" [(ngModel)]="EMAIL_ADDR" />
                    </label>
                  </section>

                  <section class="col col-6">
                    <label class="label">{{'비밀번호' | mlang: 'LABEL' : 'L000027' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <input type="password" name="EMP_PWD" [(ngModel)]="EMP_PWD" />
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="label">{{'비빌번호 확인' | mlang: 'LABEL' : 'L000028' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <input type="password" name="EMP_PWD_CF" [(ngModel)]="EMP_PWD_CF" />
                    </label>
                  </section>

                  <section class="col col-3">
                    <label class="label">{{'이름' | mlang: 'LABEL' : 'L000006' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <input type="text" name="UserName" [(ngModel)]="UserName" />
                    </label>
                  </section>
                  <section class="col col-3">
                    <label class="label">{{'휴대폰번호' | mlang: 'LABEL' : 'L000019' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <input type="text" name="PHONE" [(ngModel)]="PHONE" />
                    </label>
                  </section>
                  <section class="col col-3">
                    <label class="label">{{'퇴직유무' | mlang: 'LABEL' : 'L000020' : '34'}}</label>
                    <label class="select">
                      <select name="EMP_STTS" [(ngModel)]="EMP_STTS" >
                        <option value="I">재직</option>
                        <option value="R">퇴직</option>
                      </select> <i></i> </label>
                  </section>
                  <section class="col col-3">
                    <label class="label">{{'부서' | mlang: 'LABEL' : 'L000001' : '34'}}<i class="fa fa-check"></i></label>
                    <label class="input">
                      <i class="icon-append fa fa-search"></i>
                      <input type="text" name="DeptName" [(ngModel)]="DeptName" readonly="readonly" style="background-color:#eee;" (click)="Show_Pop_Dept_Modal('Dept_CD','DeptName')" />
                      <input type="hidden" name="Dept_CD" [(ngModel)]="Dept_CD" />
                    </label>
                  </section>


                  <!-- 사용안함(공통코드로 사용) -->
                  <section class="col col-3" [hidden]="true">
                    <label class="label">{{'직책' | mlang: 'LABEL' : 'L000011' : '34'}}</label>
                    <label class="select">
                      <select name="JOB_CD_T" [(ngModel)]="JOB_CD_T" >
                        <option *ngFor="let T_JOBList of T_selectbox_list" value= {{T_JOBList.id}}>{{T_JOBList.nm}}</option>
                      </select> <i></i> </label>
                  </section>
                  <!-- 이사님 긴급요청으로 TN_EMP에 넣었음 -->
                  <section class="col col-3" [hidden]="T">
                    <label class="label">{{'직책' | mlang: 'LABEL' : 'L000011' : '34'}}</label>
                    <label class="select">
                      <select name="JOB_CD_T_NEW" [(ngModel)]="JOB_CD_T_NEW">
                        <option value="{{list.SUB_CD}}" *ngFor="let list of job_cd_list" >{{list.SUB_NM}}</option>
                      </select><i></i>
                    </label>
                  </section>

                  <section class="col col-3" [hidden]="R">
                    <label class="label">{{'직급' | mlang: 'LABEL' : 'L000012' : '34'}}</label>
                    <label class="select">
                      <select name="JOB_CD_R" [(ngModel)]="JOB_CD_R" >
                        <option *ngFor="let R_JOBList of R_selectbox_list" value= {{R_JOBList.id}}>{{R_JOBList.nm}}</option>
                      </select> <i></i> </label>
                  </section>
                  <section class="col col-3" [hidden]="P">
                    <label class="label">{{'직위' | mlang: 'LABEL' : 'L000016' : '34'}}</label>
                    <label class="select">
                      <select name="JOB_CD_P" [(ngModel)]="JOB_CD_P" >
                        <option *ngFor="let P_JOBList of P_selectbox_list" value= {{P_JOBList.id}}>{{P_JOBList.nm}}</option>
                      </select> <i></i> </label>
                  </section>
                  <section class="col col-3" [hidden]="D">
                    <label class="label">{{'직무' | mlang: 'LABEL' : 'L000017' : '34'}}</label>
                    <label class="select">
                      <select name="JOB_CD_D" [(ngModel)]="JOB_CD_D" >
                        <option *ngFor="let D_JOBList of D_selectbox_list" value= {{D_JOBList.id}}>{{D_JOBList.nm}}</option>
                      </select> <i></i> </label>
                  </section>

                  <section class="col col-3" [hidden]="O">
                    <label class="label">{{'직군' | mlang: 'LABEL' : 'L000013' : '34'}}</label>
                    <label class="select">
                      <select name="JOB_CD_O" [(ngModel)]="JOB_CD_O" >
                        <option *ngFor="let O_JOBList of O_selectbox_list" value= {{O_JOBList.id}}>{{O_JOBList.nm}}</option>
                      </select> <i></i> </label>
                  </section>

                  <section class="col col-3">
                    <label class="label">{{'내선번호' | mlang: 'LABEL' : 'L000021' : '34'}}</label>
                    <label class="input">
                      <input type="text" name="COMPANY_PHONE" [(ngModel)]="COMPANY_PHONE" />
                    </label>
                  </section>

                  <section class="col col-3">
                    <label class="label">MES 사용 유무</label>
                    <label class="select">
                      <select name="PMS_USE_YN" [(ngModel)]="PMS_USE_YN" >
                        <option value="Y">사용</option>
                        <option value="N">미사용</option>
                      </select> <i></i> </label>
                  </section>

                  <section class="col col-3">
                    <label class="label">담당공정</label>
                    <label class="select">
                      <select multiple name="PROGRESS_CD" [(ngModel)]="PROGRESS_CD"  style="height:175px;">
                        <option value="{{progress.SUB_CD}}" *ngFor="let progress of progress_cd_list" >{{progress.SUB_NM}}</option>
                      </select>
                    </label>
                  </section>



                  <!-- <section class="col col-3">
                    <label class="label">{{'페이지카운트' | mlang: 'LABEL' : 'L000022' : '34'}}</label>
                    <label class="input">
                      <input type="number" name="LIST_COUNT" [(ngModel)]="LIST_COUNT" />
                    </label>
                  </section> -->
                  <!-- <section class="col col-3">
                    <label class="label">{{'사진' | mlang: 'LABEL' : 'L000029' : '34'}}</label>

                    <div class="input input-file">
                      <span class="button"><input type="file" id="EMP_PROFILE_IMG" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" readonly>
                    </div>
                    <div class="note note-error">File size must be less than 3Mb.</div>
                  </section> -->
                </fieldset>



                <fieldset style="display:none;">
                  <!-- <section class="col col-3">
                    <label class="label">담당공정</label>
                    <label class="select">
                      <select multiple name="PROGRESS_CD" [(ngModel)]="PROGRESS_CD"  style="height:175px;">
                        <option value="{{progress.SUB_CD}}" *ngFor="let progress of progress_cd_list" >{{progress.SUB_NM}}</option>
                      </select>
                    </label>
                  </section> -->
                  <!-- <div class="row"> -->
                    <!-- <div class="widget-body no-padding"> -->
                    <section class="col col-9">
                      <form class="smart-form" [hidden]="FirstHidden">
                          <kendo-grid [data]="gridView_Sub"
                               [height]="200"
                              [sort]="gridSort_Sub"
                              [sortable]="true"
                              (sortChange)="sortChange_Sub($event)"

                              [resizable]="true"

                              [selectable]="{ mode: 'single' }"
                              [kendoGridSelectBy]="'Sub_Dept_CD'"
                              [selectedKeys]="gridSelection_Sub"

                              (cellClick)="OnClickEvent_Sub($event)"
                          >
                            <kendo-grid-column field="Sub_Dept_CD" title="{{'부서코드' | mlang: 'LABEL' : 'L000023' : '34'}}" width="80" ></kendo-grid-column>
                            <kendo-grid-column field="Sub_DeptName" title="{{'부서' | mlang: 'LABEL' : 'L000001' : '34'}}" width="80" ></kendo-grid-column>
                            <!-- <kendo-grid-column
                              field="Sub_DeptName"
                              title="{{'부서' | mlang: 'LABEL' : 'L000001' : '34'}}"
                              [width]="80"
                              [style]="{'background-color': '','color': 'blue', 'text-decoration' : 'underline', 'cursor' : 'pointer'}"
                            ></kendo-grid-column> -->
                            <kendo-grid-column field="Sub_JOB_CD_P_NM" [hidden]="P" title="{{'직위' | mlang: 'LABEL' : 'L000016' : '34'}}" width="80" ></kendo-grid-column>
                            <kendo-grid-column field="Sub_JOB_CD_D_NM" [hidden]="D" title="{{'직무' | mlang: 'LABEL' : 'L000017' : '34'}}" width="80" ></kendo-grid-column>
                            <kendo-grid-column field="Sub_JOB_CD_T_NM" [hidden]="T" title="{{'직책' | mlang: 'LABEL' : 'L000011' : '34'}}" width="80" ></kendo-grid-column>
                            <kendo-grid-column field="Sub_JOB_CD_R_NM" [hidden]="R" title="{{'직급' | mlang: 'LABEL' : 'L000012' : '34'}}" width="80" ></kendo-grid-column>
                            <kendo-grid-column field="Sub_JOB_CD_O_NM" [hidden]="O" title="{{'직군' | mlang: 'LABEL' : 'L000013' : '34'}}" width="80" ></kendo-grid-column>
                          </kendo-grid>
                      </form>
                    </section>
                    <!-- </div> -->
                  <!-- </div> -->

                </fieldset>

              </form>

    </div>

    <div class="modal-footer">
      <label style="display:none;" [hidden]="FirstHidden"><button (click)="Sub_Job_Add();" class="btn btn-primary">{{'겸직추가' | mlang: 'LABEL' : 'L000031' : '34'}}</button></label>
      <button (click)="Regsave()" class="btn btn-primary">{{'저장' | mlang: 'LABEL' : 'L000030' : '34'}}</button>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="HideModal_Reg()">취소</button>
    </div>
  </div>

</div>


<!-- Modal 등록 -->
<div bsModal #lgModal_Job_reg="bs-modal" class="modal fade" id="myModal_Job_reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:800px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="lgModal_Job_reg.hide()">&times;</button>
          <h4 class="modal-title">{{'겸직 등록' | mlang: 'LABEL' : 'L000034' : '34'}}</h4>
        </div>
        <div class="modal-body">

          <div id="content_sub">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-12">
                <div class="well no-padding">

                  <form class="smart-form client-form" id="smart-form-register_sub" novalidate="novalidate">
                    <fieldset>

                      <section class="col col-3">
                        <label class="label">{{'부서' | mlang: 'LABEL' : 'L000001' : '34'}}</label>
                        <label class="input">
                          <input type="text" name="Sub_DeptName" [(ngModel)]="Sub_DeptName" readonly="readonly" (click)="Show_Pop_Dept_Modal('Sub_Dept_CD','Sub_DeptName')" />
                          <input type="hidden" name="Sub_Dept_CD" [(ngModel)]="Sub_Dept_CD" />
                        </label>
                      </section>
                      <section class="col col-3" [hidden]="T">
                        <label class="label">{{'직책' | mlang: 'LABEL' : 'L000011' : '34'}}</label>
                        <label class="select">
                          <select name="Sub_JOB_CD_T" [(ngModel)]="Sub_JOB_CD_T" >
                            <option *ngFor="let T_JOBList of T_selectbox_list" value= {{T_JOBList.id}}>{{T_JOBList.nm}}</option>
                          </select> <i></i> </label>
                      </section>
                      <section class="col col-3" [hidden]="R">
                        <label class="label">{{'직급' | mlang: 'LABEL' : 'L000012' : '34'}}</label>
                        <label class="select">
                          <select name="Sub_JOB_CD_R" [(ngModel)]="Sub_JOB_CD_R" >
                            <option *ngFor="let R_JOBList of R_selectbox_list" value= {{R_JOBList.id}}>{{R_JOBList.nm}}</option>
                          </select> <i></i> </label>
                      </section>
                      <section class="col col-3" [hidden]="P">
                        <label class="label">{{'직위' | mlang: 'LABEL' : 'L000016' : '34'}}</label>
                        <label class="select">
                          <select name="Sub_JOB_CD_P" [(ngModel)]="Sub_JOB_CD_P" >
                            <option *ngFor="let P_JOBList of P_selectbox_list" value= {{P_JOBList.id}}>{{P_JOBList.nm}}</option>
                          </select> <i></i> </label>
                      </section>
                      <section class="col col-3" [hidden]="D">
                        <label class="label">{{'직무' | mlang: 'LABEL' : 'L000017' : '34'}}</label>
                        <label class="select">
                          <select name="Sub_JOB_CD_D" [(ngModel)]="Sub_JOB_CD_D" >
                            <option *ngFor="let D_JOBList of D_selectbox_list" value= {{D_JOBList.id}}>{{D_JOBList.nm}}</option>
                          </select> <i></i> </label>
                      </section>
                      <section class="col col-3" [hidden]="O">
                        <label class="label">{{'직군' | mlang: 'LABEL' : 'L000013' : '34'}}</label>
                        <label class="select">
                          <select name="Sub_JOB_CD_O" [(ngModel)]="Sub_JOB_CD_O" >
                            <option *ngFor="let O_JOBList of O_selectbox_list" value= {{O_JOBList.id}}>{{O_JOBList.nm}}</option>
                          </select> <i></i> </label>
                      </section>
                      <section class="col col-3">
                        <label class="label">{{'사용여부' | mlang: 'LABEL' : 'L000002' : '34'}}</label>
                        <label class="select">
                          <select name="Sub_JOB_STTS" [(ngModel)]="Sub_JOB_STTS" >
                            <option value="Y">사용</option>
                            <option value="N">미사용</option>
                          </select> <i></i> </label>
                      </section>

                    </fieldset>
                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button (click)="Sub_job_Save()" class="btn btn-primary">{{'저장' | mlang: 'LABEL' : 'L000030' : '34'}}</button>
          <label [hidden]="PopDeletetHidden"><button (click)="Sub_job_Delete()" class="btn btn-primary">{{'삭제' | mlang: 'LABEL' : 'L000025' : '34'}}</button></label>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="lgModal_Job_reg.hide()">취소</button>
        </div>
      </div>
    </div>
   </div>


<!--부서공통팝업 모달 -->
<div bsModal #lgModal_pop_dept="bs-modal" class="modal fade" id="myModal_pop_dept" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <app-selectdept [Pop_dept_cd]="Pop_dept_cd" [Arr_Cd_Nm]="Arr_Cd_Nm" [Use_YN]="Use_YN" [Expanded_YN]="Expanded_YN" (selectdept_ok)="Close_Pop_Dept_Modal($event)" (selectdept_close)="this.lgModal_pop_dept.hide()"></app-selectdept>
</div>
