.k-grid tr.yellow { background-color: #FFFF99; }
.k-grid tr.green { background-color: #00CC00; }
.k-grid tr.red { background-color: #FF6666; }
.k-grid tr.blue { background-color: #66CCFF; }
.k-grid tr.gray { background-color: #CCCCCC; }
.k-grid tr.d3 { background-color: #CCCCCC; }
.k-grid tr.d5 { background-color: #CCCCCC; }
