@import "~@progress/kendo-theme-default/scss/all";

// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");


// ##### SPOQA SANS WEB FONTS ############################ START //
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

h1, h2, h3, h4, body { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'}

// ##### SPOQA SANS WEB FONTS ############################ END //


// -- s.LOGIN ------------------- //


$skin-color-a: #1F72A6;
$skin-color-b: #2C3741;

$btn-color-primary-a: #1F72A6;
$btn-color-primary-b: #052F4A;


body{
  height:100%; margin:0; padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#extr-page{
  background:$skin-color-a;
  #main{
    background:$skin-color-a;
    padding:0px;
    height:100vh;
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.login-form-container{
  width:300px;
  margin:0 auto;


  .login-form{

    -webkit-box-shadow: 0px 0px 3px 0px darken($skin-color-a, 30%);
    -moz-box-shadow: 0px 0px 3px 0px darken($skin-color-a, 30%);
    box-shadow: 0px 0px 3px 0px darken($skin-color-a, 30%);
    .login-form-title{
      height:60px;
      background:darken($skin-color-b, 20%);
    }
    .client-form{
      background:$skin-color-b;
      color:darken(white, 20%);
      fieldset{
        background: none;
      }
      label{
        color:darken(white, 30%);
      }
      input[type=text], input[type=password]{
        border:none;
        border-radius: 4px;
      }
      hr{
        border-top:1px solid lighten($skin-color-b, 10%);
      }
      .block-group{
        .label{
          display: inline-block;
          color:darken(white, 30%);
          font-size:12px;
        }
      }
      .login-btn{
        width:100%;
        height:46px;
        border-radius: 4px;
        border:1px solid $btn-color-primary-b;
        background: $btn-color-primary-a;

      }
      .header-dropdown-list{ //ul
        padding:10px 0;
        margin:0;
        .dropdown{ //li
          .dropdown-toggle{
            margin:10px 5px;
            color:darken(white, 20%);
            font-size:12px;
            span{
              background:url('/assets/img/ksh-lang-ko@2x.png') left no-repeat;
              background-size: 20px 20px;
              padding-left:30px;
            }
            img{display:none;}
          }
        }
      }
    }
  }
  .login-good-word{
    padding:20px 10px;
    color:white;
    text-align: center;
    .en{font-family: "Georgia"; font-size:15px;}
    .ko{font-size:12px;}
  }
}

#header{

}

.container{
  .login-header-big{}
  .well{}
}

app-login{
  background:#0f0;
  .container{

  }
}

// -- e.LOGIN ------------------- //



// ##### AQUA THEME SET ############################ START //
BODY.smart-style-0 {




  #left-panel{background:#00f;}
}

// ##### AQUA THEME SET ############################ END //



// ##### AQUA THEME SET ############################ START //
BODY.smart-style-2 {


  #left-panel{background:#00f;}
}

// ##### AQUA THEME SET ############################ END //




$ui-black :#343434;
$ui-blue  :#1F72A6;
// ##### UI CEHCKBOX ############################ START //
label {
  display: inline-block; // to make it easier to click
  color: $ui-black;
  cursor: pointer;
  position: relative; // important
  font-size:13px;
  // Now we'll create the checkbox object
  .ui-checkbox {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: lighten($ui-black, 70%);
    width: 15px;
    height: 15px;
    transform-origin: center;
    //border: 2px solid lighten($ui-black, 30%);
    border:2px solid white;
    border-radius: 4px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); // custom ease effect for bouncy animation

    // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"

    &:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px; // so that the tick has nice rounded look
      background: lighten($ui-black, 20%);
      position: absolute;
      transform: rotate(45deg);
      top: 5px; // you'll need to experiment with placement depending on the dimensions you've chosen
      left: 2px; // you'll need to experiment with placement depending on the dimensions you've chosen
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; // so that the tick has nice rounded look
      background: lighten($ui-black, 30%);;
      position: absolute;
      transform: rotate(300deg);
      top: 9px; // you'll need to experiment with placement depending on the dimensions you've chosen
      left: 3px; // you'll need to experiment with placement depending on the dimensions you've chosen
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }
  // Time to add some life to it

  &:hover {
    .ui-checkbox {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }

      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}

input[type="checkbox"] {
  display: none !important; // hide the system checkbox

  // Let's add some effects after the checkbox is checked

  &:checked {
    + label {
      .ui-checkbox {
        //background-color: lighten($ui-black, 30%);;
        border:2px solid $ui-blue;
        background-color: $ui-blue;
        transform: scale(1.1); // enlarge the box

        &:after {
          width: 10px;
          background: white;
          transition: width 150ms ease 100ms; // enlarge the tick
        }

        &:before {
          width: 5px;
          background: white;
          transition: width 150ms ease 100ms; // enlarge the tick
        }
      }

      &:hover { // copy the states for onMouseOver to avoid flickering
        .ui-checkbox {
          background-color: lighten($ui-blue, 20%);;
          transform: scale(1.1); // enlarge the box

          &:after {
            width: 10px;
            background: $ui-blue;
            transition: width 150ms ease 100ms; // enlarge the tick
          }

          &:before {
            width: 5px;
            background: $ui-blue;
            transition: width 150ms ease 100ms; // enlarge the tick
          }
        }
      }
    }
  }
}
// ##### UI CEHCKBOX ############################ END //