@import "~@progress/kendo-theme-default/scss/all";

// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");


// ##### SPOQA SANS WEB FONTS ############################ START //
@import url(//cdn.jsdelivr.net/korean-webfonts/1/corps/google/NotoSansKR/NotoSansKR.css);

h1, h2, h3, h4, body { font-family: 'NotoSansKR', 'Sans-serif'}

// ##### SPOQA SANS WEB FONTS ############################ END //

@import "_aqua.scss"; //Aqua Theme set
@import "_white.scss"; //White Theme set

// ##### COMMON ############################ END //
// 최상위 스타일 컨테이너에 있지 않아도 되는 요소들입니다.
//Theme Blue ...
$ui-tb-a: #267DB3; //base
$ui-tb-b: #0B517D; //outline
//Theme White ...
$ui-tw-a: #F0F0F0; //base
$ui-tw-b: #B4B4B4; //outline

.btn{
  border-radius: 4px !important;
  &.btn-theme-white{
    $ui-color-a:lighten($ui-tw-a, 40%);
    $ui-color-b:$ui-tw-a;
    $ui-color-c:darken($ui-tw-a, 8%);
    $ui-color-d:$ui-tw-b;
    background: $ui-color-b; /* Old browsers */
    background: -moz-linear-gradient(top, $ui-color-a 0%, $ui-color-b 3%, $ui-color-c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $ui-color-a 0%,$ui-color-b 3%,$ui-color-c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $ui-color-a 0%,$ui-color-b 3%,$ui-color-c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$ui-color-b}', endColorstr='#{$ui-color-c}',GradientType=0 ); /* IE6-9 */
    border:1px solid $ui-color-d;
    color:darken($ui-color-d, 50%);
    padding: 6px 10px 5px !important;
    &:hover{
      opacity: 0.9;
    }
  }
  &.btn-theme-blue{
    $ui-color-a:lighten($ui-tb-a, 40%);
    $ui-color-b:$ui-tb-a;
    $ui-color-c:darken($ui-tb-a, 8%);
    $ui-color-d:$ui-tb-b;
    background: $ui-color-b; /* Old browsers */
    background: -moz-linear-gradient(top, $ui-color-a 0%, $ui-color-b 3%, $ui-color-c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $ui-color-a 0%,$ui-color-b 3%,$ui-color-c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $ui-color-a 0%,$ui-color-b 3%,$ui-color-c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$ui-color-b}', endColorstr='#{$ui-color-c}',GradientType=0 ); /* IE6-9 */
    border:1px solid $ui-color-d;
    color:$ui-color-a;
    padding: 6px 10px 5px !important;
    &:hover{
      opacity: 0.9;
    }
  }
  &.btn-theme-reset{
    padding: 6px 10px 5px !important;
  }
}
