@import "~@progress/kendo-theme-default/scss/all";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");




// -- s.LOGIN ------------------- //

$skin-color-a: #1F72A6;
$skin-color-b: #2C3741;

#extr-page{
  background:$skin-color-a;
  #main{
    background:$skin-color-a;
  }
}

#header{

}

.container{
  .login-header-big{}
  .well{}
}

app-login{
  background:#0f0;
  .container{

  }
}

// -- e.LOGIN ------------------- //



// ##### AQUA THEME SET ############################ START //
BODY.smart-style-0 {




  #left-panel{background:#00f;}
}

// ##### AQUA THEME SET ############################ END //



// ##### AQUA THEME SET ############################ START //
BODY.smart-style-2 {


  #left-panel{background:#00f;}
}

// ##### AQUA THEME SET ############################ END //