<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <!-- <span id="logo"> <img src="assets/img/logo.gif" alt="PMSLite"> </span> -->
    <span id="logo">
      <!-- <a href="/"><img src="assets/img/logo.gif" alt="PMSLite"></a> -->
      <a href="/#/home"></a>
    </span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
  </div>


  <!-- 위치가 탑에서 메뉴쪽으로 내려옴, 그래서 주석 : 김동진 -->
  <!-- <sa-recent-projects></sa-recent-projects> -->

  <!-- search mobile button (this is hidden till mobile view port) -->

  <!-- <div id="search-mobile" class="btn-header transparent pull-right">
      <span> <a (click)="toggleSearchMobile()" title="Search"><i class="fa fa-search"></i></a> </span>
    </div> -->
  <!-- end search mobile button -->

  <!-- input: search field -->
  <!--전체검색 주석-->
  <!-- <form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="header-search pull-right">
      <input id="search-fld" type="text" name="param" required
             placeholder="Find reports and more">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
      <a id="cancel-search-js" (click)="toggleSearchMobile()" title="Cancel Search"><i class="fa fa-times"></i></a>
    </form> -->
  <!-- end input: search field -->

  <!-- fullscreen button -->
  <!--전체화면 주석-->
  <!-- <sa-full-screen></sa-full-screen> -->
  <!-- end fullscreen button -->



  <!-- multiple lang dropdown : find all flags in the flags page -->
  <!--언어선택 주석-->
  <!-- <sa-language-selector></sa-language-selector> -->
  <!-- end multiple lang -->



  <sa-collapse-menu></sa-collapse-menu>


  <div class="btn-header pull-right">
    <div id="logout-box">
      <a href="/#/auth/login" (click)="LogOut()" title="로그아웃"><i class="fa fa-sign-out"></i> <span class="tt">로그아웃</span></a>
    </div>
  </div>


  <div class="btn-header pull-right">
    <div id="activities-box" class="hidden-xs">
      <sa-activities></sa-activities>
    </div>
  </div>


  <div class="btn-header pull-right">
    <div id="profile-box">
      <ul class="header-dropdown-list hidden-xs">
        <li class="">
          <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
            <!-- <span class="pimg"></span> -->
            <!--img src="assets/img/kdj.png" alt="김동진" class="online" /-->
            <!-- <span class="pname"><strong>김동진</strong> 과장</span> -->
            <span class="pname"><strong>{{userInfo}}</strong></span>
          </a>
          <ul class="dropdown-menu">
            <!-- <li>
              <a (click)="(null)"><i class="fa fa-cog"></i> 설정</a>
            </li>
            <li class="divider"></li> -->
            <li>
              <a (click)="open_profile()"><i class="fa fa-user"></i> 프로필</a>
            </li>
            <!-- <li class="divider"></li>
            <li>
              <a (click)="(null)" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> 전체화면</a>
            </li>
            -->
            <li class="divider"></li>
            <li>
              <a href="/#/auth/login" (click)="LogOut()"><i class="fa fa-sign-out fa-lg"></i>로그아웃</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</header>

<!-- 프로필 -->
<div bsModal #lgModal_profile="bs-modal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div>
    <form>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="lgModal_profile.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">사용자 정보</h4>
          </div>
          <div class="modal-body">
            <form class="smart-form">
              <fieldset>

                <section class="col col-6">
                  <label class="label">사용자ID<i class="fa fa-check"></i></label>
                  <label class="input">
                    <input type="text" name="EMP_NO" [(ngModel)]="EMP_NO" readonly="readonly" style="background-color:#eee;" />
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">Email<i class="fa fa-check"></i></label>
                  <label class="input">
                    <input type="email" name="EMAIL_ADDR" [(ngModel)]="EMAIL_ADDR" />
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">비밀번호<i class="fa fa-check"></i></label>
                  <label class="input">
                    <input type="password" name="EMP_PWD" [(ngModel)]="EMP_PWD" />
                  </label>
                </section>

                <section class="col col-6">
                  <label class="label">비빌번호 확인<i class="fa fa-check"></i></label>
                    <label class="input">
                  <input type="password" name="EMP_PWD_CF" [(ngModel)]="EMP_PWD_CF" />
                </label>
                </section>

                <section class="col col-3">
                  <label class="label">이름<i class="fa fa-check"></i></label>
                  <label class="input">
                    <input type="text" name="UserName" [(ngModel)]="UserName" />
                  </label>
                </section>
                <section class="col col-3">
                  <label class="label">휴대폰번호<i class="fa fa-check"></i></label>
                  <label class="input">
                    <input type="text" name="PHONE" [(ngModel)]="PHONE" />
                  </label>
                </section>

                <section class="col col-3">
                  <label class="label">부서<i class="fa fa-check"></i></label>
                  <label class="input">
                    <i class="icon-append fa fa-search"></i>
                    <input type="text" name="DeptName" [(ngModel)]="DeptName" readonly="readonly" style="background-color:#eee;" (click)="Show_Pop_Dept_Modal('Dept_CD','DeptName')" />
                    <input type="hidden" name="Dept_CD" [(ngModel)]="Dept_CD" />
                  </label>
                </section>

                <section class="col col-3" [hidden]="T">
                  <label class="label">직책</label>
                  <label class="select">
                    <select name="JOB_CD_T" [(ngModel)]="JOB_CD_T" >
                      <option *ngFor="let T_JOBList of T_selectbox_list" value= {{T_JOBList.id}}>{{T_JOBList.nm}}</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-3" [hidden]="R">
                  <label class="label">직급</label>
                  <label class="select">
                    <select name="JOB_CD_R" [(ngModel)]="JOB_CD_R" >
                      <option *ngFor="let R_JOBList of R_selectbox_list" value= {{R_JOBList.id}}>{{R_JOBList.nm}}</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-3" [hidden]="P">
                  <label class="label">직위</label>
                  <label class="select">
                    <select name="JOB_CD_P" [(ngModel)]="JOB_CD_P" >
                      <option *ngFor="let P_JOBList of P_selectbox_list" value= {{P_JOBList.id}}>{{P_JOBList.nm}}</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-3" [hidden]="D">
                  <label class="label">직무</label>
                  <label class="select">
                    <select name="JOB_CD_D" [(ngModel)]="JOB_CD_D" >
                      <option *ngFor="let D_JOBList of D_selectbox_list" value= {{D_JOBList.id}}>{{D_JOBList.nm}}</option>
                    </select> <i></i> </label>
                </section>

                <section class="col col-3" [hidden]="O">
                  <label class="label">직군</label>
                  <label class="select">
                    <select name="JOB_CD_O" [(ngModel)]="JOB_CD_O" >
                      <option *ngFor="let O_JOBList of O_selectbox_list" value= {{O_JOBList.id}}>{{O_JOBList.nm}}</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-3">
                  <label class="label">내선번호</label>
                  <label class="input">
                    <input type="text" name="COMPANY_PHONE" [(ngModel)]="COMPANY_PHONE" />
                  </label>
                </section>

              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="savedata_profile()">저장</button>
            <button type="button" class="btn btn-default" (click)="lgModal_profile.hide()">취소</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!--부서공통팝업 모달 -->
<div bsModal #lgModal_pop_dept="bs-modal" class="modal fade" id="myModal_pop_dept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <app-selectdept [Pop_dept_cd]="Pop_dept_cd" [Arr_Cd_Nm]="Arr_Cd_Nm" [Use_YN]="Use_YN" [Expanded_YN]="Expanded_YN" (selectdept_ok)="Close_Pop_Dept_Modal($event)" (selectdept_close)="this.lgModal_pop_dept.hide()"></app-selectdept>
</div>
